<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <link rel="stylesheet" href="/public/style.css">
  <title>Movie Crud</title>
</head>
<body>
  <header>
    <h1>Cristina's Movie Ratings</h1>
    <h2>A different prospective on modern movies</h2>
  </header>
  <main>
    <aside>
      <form action='/movies/new'>
        <input type='submit' value ='New Movie'>
      </form>
    </aside>
    <section>
      <h1>All Movies</h1>
      <table class='title-article'>
        <tr>
          <td class="title"><h2>Title</h2></td>
          <td class= "director"><h2>Director</h2></td>
          <td class="year"><h2>Year</h2></td>
          <td class="rating"><h2>Rating</h2></td>
          <td></td>
          <td></td>
        </tr>
      {{#movie}}
        <tr>
          <td><a href='/movies/{{_id}}'></td>
          <td class ="title">{{title}}</td>
          <td class= "director"></a>{{director}}</td>
          <td class= "year">{{year}}</td>
          <td class = "rating">{{rating}}</td>
          <td>
            <form action='/movies/{{_id}}/delete'>
              <label for='delete'></label>
              <input type='submit' name = 'delete' value = 'Delete Movie'>
            </form>
          </td>
          <td>
            <form action='/movies/{{_id}}/edit'>
              <label for='edit'></label>
              <input type='submit' name = 'edit' value = 'Edit'>
            </form>
          </td>
        </tr>
        {{/movie}}
      </table>
    </section>
  </main>
</body>
</html>
